/*----------BODY----------*/

body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*----------GENERAL---------*/
.alignverti{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.alignhori{
    display: flex;
    justify-content: center;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.spacea{
    display: flex;
    justify-content: space-around;
}

.spaceb{
    display: flex;
    justify-content: space-between;
}

h2{
    text-align: center;
}

.bouton{
    border-style: solid;
    padding: 5px;
    text-decoration: none;
}
/*----------HEADER----------*/

header{
    width: 1200px;
    margin: auto;
	background-color: #6CABDD;
	color: #fafafa;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Image1{
    padding-bottom: 20px;
    padding-top: 10px;
    width: 200px;
}
    /*----------MENU----------*/
    nav ul li a{
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 1.5em;
    }

    nav ul{
        display: flex;
        padding-left: 0;
    }

    nav ul li {	
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        list-style: none; 
    }

    nav ul li:hover{
        border-bottom-color: #ffffff;
        border-bottom-style: solid;
        border-width: 1px;
        padding: 1px; 
    }

/*----------MAIN---------*/
main{
    width: 1200px;
    margin:auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main ul{
    padding-left: 0px;
}

main ul li{
    width:100px;
}

/*----------EQUIPE----------*/
.player{
    border-style: solid;
    border-width: thin;
    border-color: #6CABDD;
    border-radius: 10px;
    width: 350px;
    margin-bottom: 20px;
}

.photosjoueurs{
    width: 200px;
}



/*----------CALENDRIER----------*/
.ecussonadv{
    width: 40px;
}

/*----------RESULTATS----------*/


/*----------EQUIPE-TYPE----------*/

.imget{
    width: 100px;
    margin-bottom: -5px;
}

.bu{
    padding-top: 30px;
}

.ailiers{
    padding-left: 70px;
    padding-right: 70px;
}

.lateraux{
    padding-left: 70px;
    padding-right: 70px;
}