{# fichier accueil.twig #}
{% extends "base.twig" %}

 
{# nouveau contenu pour 'main' #}
{% block header %}

<h1> {{ titre|title }} </h1>
<img src= {{ image1_accueil }} alt="ecusson"/>
<p> {{ texte }} </p>


{% endblock %}
    
