<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ProjetInfo2</title>
	<link rel="stylesheet" href="css/style1.css">
</head>

<body>
	<header>
		<img class="Image1" src="https://upload.wikimedia.org/wikipedia/fr/thumb/b/ba/Logo_Manchester_City_2016.svg/1200px-Logo_Manchester_City_2016.svg.png" />
	
		<nav>
			<ul>
				<li><a href="Accueil.php">Accueil</a></li>
				<li><a href="Equipe.php">Equipe</a></li>
				<li><a href="resultats.php">Résultats</a></li>
				<li><a href="equipe_type.php">Votre equipe type</a></li>
				<li><a href="controller-insert-form-joueur.php">Ajouter un joueur</a></li>	
			</ul>	
		</nav>
	</header>

	<main>
		{% block main %}

		{% endblock %}
	</main>
</body>

</html>
